@model RH.ViewModel.FuncionarioViewModel

@{
    var @doc = Model.Documento;
}
<div id="TabDoc" class="tab-pane">
    <div class="container-fluid" style="padding-top: 8px">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user-edit fa-fw"></i> Relação dos documentos
                    <div id="MenuOpcoes" class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-toolbox fa-fw"></i>Opções
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a class="btn-link btnEditar" href="#" onclick="HabilitarModoEdicao(true)">&nbsp;Editar</a>
                                </li>
                                <li>
                                    <a class="btn-link btnCancelar" href="#" onclick="HabilitarModoEdicao(false)" style="display: none">&nbsp;Cancelar</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("SalvarFuncionario", "Funcionario", FormMethod.Post))
                    {
                        <div class="form-edit">
                            <legend>
                                <h5 class="cor_titulos"><strong><i class="fa fa-signature fa-fw"></i>&nbsp;Identificação Pessoal</strong></h5>
                            </legend>
                            <div class="container-fluid" id="cnt_DocumentosRG">
                                <div class="row" id="docRG">
                                    <div class="form-group col-md-3">
                                        <label class="control-label" for="RG_Num">RG</label>
                                        @Html.TextBoxFor(funcionario => @doc.RG_Numero, new { @class = "form-control", id = "RG_Num" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="control-label" for="RG_DtEmissao">Data de Emissão</label>
                                        @Html.TextBoxFor(funcionario => @doc.RG_DtEmissao, new { @class = "form-control", id = "RG_DtEmissao" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="control-label " for="RG_OrgaoEmissor">Orgão Emissor</label>
                                        @Html.TextBoxFor(funcionario => @doc.RG_OrgaoEmissor, new { @class = "form-control", id = "RG_OrgaoEmissor" })
                                    </div>

                                    <div class="form-group  col-md-3">
                                        <label class="control-label " for="RG_UF">Orgão Emissor</label>
                                        @Html.TextBoxFor(funcionario => @doc.RG_UF, new { @class = "form-control", id = "RG_UF" })
                                    </div>
                                </div>
                                <div class="row" id="docCPF">
                                    <div class="form-group col-md-3">
                                        <label class="control-label" for="CPF_Num">CPF</label>
                                        @Html.TextBoxFor(funcionario => @doc.CPF, new { @class = "form-control", id = "CPF_Num" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label" for="CNH_Num">CNH</label>
                                        @Html.TextBoxFor(funcionario => @doc.CartHabilitacao_Numero, new { @class = "form-control", id = "CNH_Num" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label" for="CNH_Categ">Categoria</label>
                                        @Html.TextBoxFor(funcionario => @doc.CartHabilitacao_Categoria, new { @class = "form-control", id = "CNH_Categ" })
                                    </div>
                                </div>
                                <div class="row" id="Div1">
                                    <div class="form-group  col-md-6">
                                        <label class="control-label" for="Filiacao_NomeDaMae">Nome da Mãe</label>
                                        @Html.TextBoxFor(funcionario => @doc.NomeDaMae, new { @class = "form-control", id = "Filiacao_NomeDaMae" })
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label class="control-label" for="Filiacao_NomeDoPai">Nome do Pai</label>
                                        @Html.TextBoxFor(funcionario => @doc.NomeDoPai, new { @class = "form-control", id = "Filiacao_NomeDoPai" })
                                    </div>
                                </div>
                            </div>

                            <legend>
                                <h5 class="cor_titulos"><strong><i class="fa fa-signature fa-fw"></i>&nbsp;Carteira de Trabalho/Previdencia Social</strong></h5>
                            </legend>
                            <div class="container-fluid" id="cnt_DocumentosCT">
                                <div class="row" id="docCT">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="CT_Num">Numero da CTPS</label>
                                        @Html.TextBoxFor(funcionario => @doc.CartTrabalho_Num, new { @class = "form-control", id = "CT_Num" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="control-label" for="CT_Serie">Serie</label>
                                        @Html.TextBoxFor(funcionario => @doc.CartTrabalho_Serie, new { @class = "form-control", id = "CT_Serie" })
                                    </div>
                                    <div class="form-group  col-md-2">
                                        <label class="control-label" for="CT_DtEmissao">Data de Emissão</label>
                                        <input id="CT_DtEmissao" class="form-control" name="CT_DtEmissao" placeholder="Data de emissão da CT" type="text" />
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="control-label" for="CT_Estado">Estado</label>
                                        <input id="CT_Estado" class="form-control" name="CT_Estado" placeholder="UF de emissão da CT" type="text" />
                                    </div>
                                </div>
                                <div class="row" id="Div2">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="PIS_Num">NIT/PIS/PASEP</label>
                                        @Html.TextBoxFor(funcionario => @doc.PIS, new { @class = "form-control", id = "PIS_Num" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="TitEletoral_Num">Numero do Titulo de Eleitor</label>
                                        @Html.TextBoxFor(funcionario => @doc.TituloEleitoral_Num, new { @class = "form-control", id = "TitEletoral_Num" })
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label class="control-label" for="TitEletoral_Zona">Seção</label>
                                        @Html.TextBoxFor(funcionario => @doc.TituloEleitoral_Zona, new { @class = "form-control", id = "TitEletoral_Zona" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
