@using ERP.RH.Application
@using MvcSiteMapProvider.Reflection
@using RH.Domain.Entities
@model RH.ViewModel.FuncionarioViewModel

@{
    string @editar = ViewBag.Editar == true ? "" : "disabled";
}

<div id="ResumoUsuario">
    <div class="row">
        <div class="col-md-9">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        @{
                            var profileImg = "/Content/Images/funcionarios/" + Model.EmailProfissional + ".jpg";
                            var absolutePath = HttpContext.Current.Server.MapPath(profileImg);

                            if (File.Exists(absolutePath))
                            {
                                <img alt="..." class="funcionario_img" src="~/Content/Images/funcionarios/@{@Html.ValueFor(functionario => functionario.EmailProfissional)}.jpg" width="125" />
                            }
                            else
                            {
                                <img alt="..." class="media-object" src="~/Content/Images/funcionarios/generico.jpg" width="125" />
                            }
                        }

                    </a>
                </div>
                <div class="media-body azul">
                    <h3 class="laranja"><strong>@Html.ValueFor(functionario => functionario.Nome)</strong></h3>
                    <p id="cargo"><strong>@Html.ValueFor(funcionario => funcionario.Contrato.Cargo.Nome)</strong></p>
                    <p id="idade">@Html.ValueFor(funcionario => funcionario.Idade)</p>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 azul">
            <div class="row">
                <strong>
                    <div class="col-xs-6">
                        <div class="row" style="text-align: right; padding:5px">Matricula&nbsp;:&nbsp;</div>
                        <div class="row" style="text-align: right; padding:5px">Admissão&nbsp;:&nbsp;</div>
                        <div class="row" style="text-align: right; padding:5px">Status&nbsp;:&nbsp;</div>
                        <div class="row" style="text-align: right; padding:5px">Tempo de Casa&nbsp;:&nbsp;</div>
                        <div class="row" style="text-align: right; padding:5px">Ativo&nbsp;:&nbsp;</div>
                    </div>
                </strong>
                <div class="col-xs-6">
                    <div class="row" style="text-align: left; padding:5px">
                        @Html.ValueFor(funcionario => funcionario.Id)
                    </div>
                    <div class="row" style="text-align: left; padding:5px">
                        @Html.ValueFor(funcionario => funcionario.Contrato.DataAdmissao)
                    </div>
                    <div class="row" style="text-align: left; padding:5px">
                        @Html.ValueFor(funcionario => funcionario.Contrato.StatusContrato)
                    </div>
                    <div class="row" style="text-align: left; padding:5px">
                        @Html.ValueFor(funcionario => funcionario.Contrato.TempoDeCasa)
                    </div>
                    <div class="row" style="text-align: left; padding: 5px">
                        @if (Model.Ativo)
                        {
                            <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" onclick="selecionar(this)" @editar>
                                <div class="handle"></div>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="selecionar(this)" @editar>
                                <div class="handle"></div>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function selecionar(check) {
        var valor = check.attributes["aria-pressed"].value;
        valor = !(valor === 'true');
        $('#hdAtivo').prop('checked', valor);;
        return false;
    }
</script>