@using ERP.RH.Application
@using RH.Domain.Entities
@model IEnumerable<RH.ViewModel.FuncionarioViewModel>

    @*@model IEnumerable<Funcionario>*@

    @{
        var @app = new FuncionarioApplication();
        Funcionario @funcionario;
        Contrato @ctr;
        ViewBag.Title = "Funcionarios";
    }

                      <div class="row">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <i class="fa fa-users fa-fw"></i> Relação de Funcionarios contratados
                                  <div id="MenuOpcoes" class="pull-right">
                                      <div class="btn-group btn-group-xs">

                                          <a class="btn btn-default" href="@Url.Action("FichaCadastral", "Funcionario", new {id = 0, modo = "create"})">
                                              <i class="fa fa-plus-square fa-fw"></i>&nbsp;Novo
                                          </a>


                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                              <i class="fa fa-filter fa-fw"></i>Exibir
                                              <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu pull-right" role="menu">
                                              <li>
                                                  <a href="#">Somente Ativos</a>
                                              </li>
                                              <li>
                                                  <a href="#">Desligados</a>
                                              </li>
                                              <li>
                                                  <a href="#">Ausencias</a>
                                              </li>
                                              <li class="divider"></li>
                                              <li>
                                                  <a href="#">Todos</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div> <!-- /.panel-heading -->
                              <div class="panel-body">
                                  <div class="table-responsive">
                                      <table class="table table-hover" id="tbFuncionarios">
                                          <thead>
                                              <tr>
                                                  <th>Nome</th>
                                                  <th>Email</th>
                                                  <th>Situação</th>
                                                  <th>Status</th>
                                                  <th>Manutenção</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          

                                          @foreach (var func in Model)
                                          {
                                              {
                                                  using (ContratoApplication cApp = new ContratoApplication())
                                                  {
                                                      ctr = cApp.RecuperaContratoPorFuncionario(func.Id);
                                                  }
                                              }
                                              <tr style="height:10px">
                                                  <td>
                                                      <i class="fa fa-user fa-fw"></i>&nbsp;@func.Nome
                                                  </td>
                                                  <td>
                                                      <a href="mailto:@func.EmailProfissional">@func.EmailProfissional</a>
                                                  </td>
                                                  <td>
                                                      @ctr.StatusContrato
                                                  </td>
                                                  <td>
                                                      <div class="col-sm-5">
                                                          @if (@func.Ativo)
                                                          {
                                                              <button type="button" class="btn btn-lg btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" disabled="disabled">
                                                                  <div class="handle"></div>
                                                              </button>
                                                          }
                                                          else
                                                          {
                                                              <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="true" autocomplete="off" disabled="disabled">
                                                                  <div class="handle"></div>
                                                              </button>
                                                          }
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="row" style="padding: 0px">
                                                          <a href="@Url.Action("FichaCadastral", "Funcionario", new {id = func.Id, modo = "edit"})" class="btn btn-warning btn-sm laranja_bg"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar</a>
                                                          <a href="@Url.Action("FichaCadastral", "Funcionario", new {id = func.Id, modo = "read"})" class="btn btn-success btn-sm azul_bg">
                                                              <span class="glyphicon glyphicon-new-window"></span>&nbsp;Ficha
                                                          </a>
                                                      </div>
                                                  </td>
                                              </tr>
                                          }

                                          </tbody>
                                      </table>
                                      <!-- /.table-responsive -->
                                  </div>
                              </div><!-- /.panel-body -->
                          </div><!-- /.panel -->
                      </div>


    <script type="text/javascript">
        $('#tbFuncionarios').DataTable(
            {
                paging:         true,
                fixedColumns:   {
                    heightMatch: 'none'
                },

                "language": {
                     "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                }
            }
        );
    </script>
